* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 50%, #f093fb 100%);
  
}

.banner {
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://plus.unsplash.com/premium_photo-1744987229692-ad86e842ebb4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
  /* background-size: cover;
  background-position: center; */
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.logo {
  width: 80px;
  cursor: pointer;
  border-radius: 100%;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 70px;
  margin-top: 80px;
}

.content p {
  margin: 20px auto;
  font-weight: 100px;
  line-height: 25px;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid pink;
  background: transparent;
  color: #fff;
}

/* Adding hover effect on navbar */
.navbar ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background: lightpink;
  position: absolute;
  left: 0;
  bottom: 1px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

#about {
  height: 100vh;
  padding: 50px 0;
  color: #fff;
  display: flex;
}

#about .quote {
  flex: 20%;
  padding: 0 50px;
  text-align: right;
  font-size: 24px;
  font-style: italic;
  border-right: 2px solid #fff;
}

#about .quote .quote-text {
  margin-bottom: 20px;
}

#about .about-section {
  flex: 80%;
  padding: 0 50px;
}

#projects {
    /* padding: 2rem 1.5rem; */
    padding: 2rem 0;
  margin: 0 1.5rem;
  /* display: flex;
  width: 100%;
  position: absolute;
  padding: 2rem 0;
  margin: 0 1.5rem;

  text-align: center;
  color: #fff; */
}

#projects .project-title {
    color: #fff;
    text-align: left;

}
